
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<title>{ifset title}{include title|stripHtml} | {/ifset}ProjectManager</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{$basePath}/css/style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	 <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	 
	{block head}{/block}
</head>

<body>
 <main style="width:80%;margin:0 auto;" class="container">

	 <nav class="navbar navbar-default">
		<div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">ProjectManager</a>
    </div>

     <ul n:inner-foreach="$menuItems as $item => $link" class="nav navbar-nav">
      <li><a n:href="$link">{$item}</a></li>
     </ul>
		 </div>
  </nav>
  {include #content}

	{block scripts}
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
	 <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="{$basePath}/js/main.js"></script>
	{/block}
 </main>
</body>
</html>
