{* This is the welcome page, you can delete it *}

{block content}

<div class="container-fluid">
  <div class="row" >
    <h2 style="text-align:center;">Přidání projektu</h2>
  <div class="col-md-6 col-md-offset-4" style="margin-top:25px;">
{control projectForm}

  </div>
 </div>
 {foreach $flashes as $flash}<div class="flash {$flash->type}">{$flash->message}</div>{/foreach}
 </div>
