{block content}
<div n:snippet="itemsContainer" class="l" >
    <h2>Správa</h2>
    <div class="post" >
        <table class="table table-bordered" >
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Jméno projektu</th>
                    <th>Datum</th>
                    <th>Typ projektu</th>
                    <th>Webový projekt</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {foreach $projects as $project}
                    <tr>
                        <td>{$project->id}</td>
                        <td><span class="val">{$project->nameOfProject}</span>
                            <span class="glyphicon glyphicon-edit update"></span>
                            <form n:name=updateName  class="in" style="display:none;">
                                <label n:name=id> <input type="hidden" n:name=id value={$project->id}></label>
                                <label n:name=nameOfProject> <input type="text"class="form-control" n:name=nameOfProject value="{$project->nameOfProject}"></label>
                            </form>
                        </td>
                        <td>{date('d-m-Y',strtotime($project->date))}<span class="glyphicon glyphicon-edit update"></span>
                            <form n:name=updateDate  class="in" style="display:none;">
                                <label n:name=id> <input type="hidden" n:name=id value={$project->id}></label>
                                <label n:name=date> <input type="text" n:name=date  value={date('d-m-Y',strtotime($project->date))} class="datepicker form-control"></label>
                            </form>
                        </td>
                        <td><span class="val">{$project->typeOfProject}</span><span class="glyphicon glyphicon-edit update"></span>
                            <form n:name=updateType  class="type" style="display:none;">
                                <label n:name=id> <input type="hidden" n:name=id value={$project->id}></label>
                                <select n:name=typeOfProject >
                                    {foreach $form[typeOfProject]->items as $key => $label}
                                        <option n:name="typeOfProject:$key"></option>
                                    {/foreach}
                                </select>
                                <button n:name=uloz class="btn btn-default" class="bt">
                                    uloz
                                </button>
                            </form>
                        </td>
                        <td><span class="val">{$project->webProject}</span><span class="glyphicon glyphicon-edit update"></span>
                            <form n:name=updateWebProject class="type" style="display:none;">
                                <label n:name=id> <input type="hidden" n:name=id value={$project->id}></label>
                                <select n:name=webProject >
                                    {foreach $form[webProject]->items as $key => $label}
                                        <option n:name="webProject:$key"></option>
                                    {/foreach}
                                </select>
                                <button n:name=uloz class="btn btn-default" class="bt">
                                    uloz
                                </button>
                            </form>
                        </td>
                        <td> <form n:name=hiddenForm class=form >
                                <label n:name=hidden> <input type="hidden" n:name=hidden value={$project->id}></label>
                                <button n:name=X class="btn btn-default" class="la">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </form>
                            <a n:href="UpdateProject:update $project->id"><span class="glyphicon glyphicon-edit"></span></a>

                        </td>
                    </tr>
                {/foreach}

            </tbody>
        </table>
    </div>
</div>
